@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

:root {
  --primary-color: #333;
  --secondary-color: #444;
  --ternary-color: #555;
  --light-color: #ccc;
  --light-secondary-color: #ddd;
  --light-ternary-color: #eee;
  --overlay-color: rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Catamaran", sans-serif;
  line-height: 1.6;
  color: var(--primary-color);
  font-size: 1.1rem;
}



/*Logo */
.logo{
  font-size: 52px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.img2{
  width: 600px;
}
h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* navbar */

.navbar {
  font-size: 1.2rem;
  padding: 0.3rem 0;
}

.navbar .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.navbar ul {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: center;
}

.navbar a {
  padding: 0 1rem;
}

.navbar a:hover {
  color:black;
}

/* showcase section */

.section-showcase {
  margin: 2rem 0;
}

.section-showcase .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.section-showcase h1 {
  font-size: 4rem;
  color: var(--primary-color);
}

.section-showcase p {
  margin: 1rem 0;
}

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 30px;
}

.btn:hover {
  background: var(--secondary-color);
}

/* large text section */

.section-large-text {
  position: relative;
  background: url("images/btscover.jpg") bottom center/cover
    no-repeat;
  height: 600px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--overlay-color);
}

.section-large-text-inner {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 860px;
  padding: 5rem 0;
}

.section-large-text-inner h2 {
  font-size: 5rem;
  margin-top: 1rem;
}

.section-large-text-inner h3 {
  font-size: 2rem;
}

.section-large-text-inner p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* gallery */

.section-gallery .gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.section-gallery .gallery img:first-child {
  grid-row: 1/3;
  grid-column: 1/3;
}

.section-gallery .gallery img:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
}

.section-gallery .gallery img {
  width: 100%;
  height: 100%;
}
/*image history*/
main{
  background-color:rgba(0, 0, 0, 0.5);
  width: 1350px;
  height: 100%;
}
.area{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 2.5em;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 5px purple,0px 0px 7px black;

}
@keyframes blur{
  from{
    text-shadow:0px 0px 10px #fff,
    0px 0px 10px purple,
    0px 0px 25px purple,
    0px 0px 25px purple,
    0px 0px 25px purple,
    0px 0px 50px purple,
    0px 0px 50px purple,
    0px 0px 50px purple,
    0px 0px 50px purple,
    0px 0px 150px #fff,
    0px 10px 100px #fff,
    0px 10px 100px #fff,
    0px 10px 100px #fff,
    0px 10px 100px #fff,
    0px -10px 50px #fff,
    0px -10px 50px #fff;
  }
}
.container1 {
  position: relative;

  width: 50%;
}

.image1 {
  display: block;
  width: 200%;
  height: 245%;
}

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 200%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.7);
}

.container1:hover .overlay1 {
  opacity: 1;
}

.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  text-align: center;
  margin-left:-15px ;
  top: 50px;
  left: 50px;
}
table{
  margin-left:400px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: purple;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container2 {
  border-radius: 5px;
  background:transparent;
  padding: 20px;
}
h3{
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* footer */

.section-footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 4rem 0;
}

.section-footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.section-footer h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-footer h3 {
  margin-bottom: 0.7rem;
}

.section-footer a {
  line-height: 1.9;
  color: var(--light-color);
}

.section-footer a > i {
  color: var(--ternary-color);
  margin-right: 0.5rem;
}

.email-form {
  display: inline-block;
  width: 100%;
  background-color: var(--ternary-color);
  position: relative;
  border-radius: 20px;
  line-height: 0;
  margin-top: 1rem;
}

.email-form .form-control {
  display: inline-block;
  width: 100%;
  height: 45px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: var(--light-secondary-color);
  background-color: transparent;
  font-family: inherit;
  margin: 0;
  padding: 0 3rem 0 1.5rem;
}

.email-form .submit {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background-color: var(--light-ternary-color);
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0 20px 20px 0;
  color: var(--primary-color);
  cursor: pointer;
}

@media (max-width: 768px) {
  .logo{
    margin-left: 100px;
    width:100%;
  }
  .img2{
    width: 200%;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.3;
  }
  
  a {
    color: var(--secondary-color);
    text-decoration: none;
    width: 100%;
  }
  
  ul {
    width: 100%;
    display:block;
  }
  
  .container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
  }
  
  /* navbar */
  
  .navbar {
    font-size: 1.2rem;
    padding: 0.3rem 0;
  }
  
  .navbar .container {
    display: inline;
    width: 100%;
    gap: 2rem;
  }
  
  .navbar ul {
    display: block;
    width: 100%;
    font-size: 32px;
    margin-left: 200px;
  }
  
  .navbar a {
    padding: 0 1rem;
  }
  
  .navbar a:hover {
    color: black;
  }
  
  .section-showcase .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section-showcase .container div:first-child {
    order: 2;
  }

  .section-showcase .container div:nth-child(2) {
    order: -1;
  }

  .section-showcase h1 {
    font-size: 2rem;
  }

  .section-showcase img {
    width: 80%;
    margin: auto;
  }

  .section-large-text-inner h2 {
    font-size: 3rem;
  }

  .section-large-text-inner h3 {
    font-size: 1.5rem;
  }

  .section-large-text-inner p {
    font-size: 1.25rem;
  }

  .section-gallery .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .section-gallery .gallery img:first-child {
    grid-row: 1/1;
    grid-column: 1/1;
  }

  .section-gallery .gallery img:nth-child(2) {
    grid-row: 1;
    grid-column: 1;
  }

  .section-gallery .gallery img:last-child {
    display: none;
  }

  .section-footer {
    padding: 2rem 0;
  }

  .section-footer .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section-footer div:nth-child(2),
  .section-footer div:nth-child(3) {
    display: none;
  }
  main{
    background-color:rgba(0, 0, 0, 0.5);
    width:100%;
    height: 100%;
  }
  .area{
    width: 100%;
  }

  .container1 {
    position: relative;
    width: 50%;
  }
  
  .image1 {
    display: block;
    width: 200%;
    height: 745px;
  }
  
  .overlay1 {
    height: 100%;
    width: 200%;
  }
  
  .container1:hover .overlay1 {
    opacity: 1;
  }
   
  .text1 {
    text-align: center;
    margin-top: -50px;
    margin-left: 0px;
    line-height: 100%;
  }
  table{
    margin:-20px;
    margin-top: 20px;
    width: 100%;
    line-height:20%;
  }
}
